baseURL = 'http://lincolnr2.github.io'
languageCode = 'en-us'
title = 'My New Hugo Site'

theme = "ananke"

[params]
  author = "Robert Lincoln"
  github = "https://github.com/lincolnr2"

[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    name = "Projects" 
    url = "/projects/"
    weight = 2
  [[menu.main]]
    name = "Blog"
    url = "/posts/"
    weight = 3
  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 4
